export CI_PROJECT_NAME={{cookiecutter.ci_project_name}}
export CI_PROJECT_PATH={{cookiecutter.ci_project_path}}
export CI_REGISTRY_IMAGE=registry.gitlab.com/$CI_PROJECT_PATH
export NAMESPACE=$CI_PROJECT_NAME
export PYTHON_VERSION=3.10
export DEVELOP_BACKEND_PORT={{cookiecutter.development_backend_port}}
export SECRET_KEY=123_development_key
export ROLE=dev
export PATH=$(pwd)/bin:$PATH

export REACT_APP_BACKEND_GRAPHQL="http://localhost:${DEVELOP_BACKEND_PORT}/graphql/"

[[ -e .secrets.env ]] && source .secrets.env
[[ -e .local_env ]] && source .local_env

set +e
VENV=`pipenv --venv`
VENV_CODE=$?
set -e

GIT_PRE_COMMIT_PATH=`realpath bin/git-pre-commit`
GIT_PRE_COMMIT_LINK=".git/hooks/pre-commit"

if [[ -f "$GIT_PRE_COMMIT_LINK" || -L "$GIT_PRE_COMMIT_LINK" ]]; then
    if [[ "$GIT_PRE_COMMIT_PATH" !=  "$(realpath $(readlink "$GIT_PRE_COMMIT_LINK"))" ]]; then
        echo "************** Warning **************"
        echo Found Git pre-commit hook file which doesn\'t point to the default project pre-commit hook file.
        echo Please remove ".git/hooks/pre-commit" file.
        echo "*************************************"
        echo
    fi
else
    ln -s "$GIT_PRE_COMMIT_PATH" $GIT_PRE_COMMIT_LINK
fi

if [ $VENV_CODE -eq 0 ]; then
    echo Activating virtual environment $VENV/bin/activate...
    source $VENV/bin/activate
else
    echo "Looks like you're new here! Running bin/setup.dev..."
    bash bin/setup.dev
    source `pipenv --venv`/bin/activate
fi

